In [1]:
employee_name="Amar"
employee_age ="19"
employee_gender = "Male"

In [2]:
employee_1=["Amar", 19, "Male"]

In [4]:
employee_1

['Amar', 19, 'Male']

list is heterogenous and ordered

In [5]:
type(employee_1)

list

In [7]:
employee_2=[]

In [8]:
employee_2.append("Sanwal")
employee_2.append("19")
employee_2.append("Male")

In [9]:
employee_1.append(200000)
employee_2.append(450000)

In [10]:
employee_1

['Amar', 19, 'Male', 200000]

In [13]:
print(employee_2)

['Sanwal', 19, 'Male', 'Sanwal', '19', 'Male', 450000]

In [15]:
employee_2

['Sanwal', 19, 'Male', 'Sanwal', '19', 'Male', 450000]

In [16]:
employee_2

['Sanwal', 19, 'Male', 'Sanwal', '19', 'Male', 450000]

employee_1

In [17]:
employee_1

['Amar', 19, 'Male', 200000]

# Lists has two types of indexing
1. Positive indexing. "Its start 0 from left to right.
2. Negative indexing. "Its start from -1 from right to left."

In [18]:
employee_1[0]

'Amar'

In [19]:
employee_1[-4]

'Amar'

 # Slicing

In [23]:
employee_1[1:4]

[19, 'Male', 200000]

In [34]:
employee_1[-3:]

[19, 'Male', 200000]

In [35]:
employee_1[:]

['Amar', 19, 'Male', 200000]

In [36]:
employee_1[:-1]

['Amar', 19, 'Male']

In [37]:
employee_2.insert(1, "AI Eng")

In [38]:
employee_2

['Sanwal', 'AI Eng', 19, 'Male', 'Sanwal', '19', 'Male', 450000]

In [39]:
print(employee_2)

['Sanwal', 'AI Eng', 19, 'Male', 'Sanwal', '19', 'Male', 450000]

In [40]:
employee_2[0] = "Sanwal Khan"

In [41]:
employee_2

['Sanwal Khan', 'AI Eng', 19, 'Male', 'Sanwal', '19', 'Male', 450000]

In [42]:
employee_1[0]="Amar"

In [43]:
employee_1

['Amar', 19, 'Male', 200000]

In [44]:
del employee_2[-2]

In [45]:
employee_2

['Sanwal Khan', 'AI Eng', 19, 'Male', 'Sanwal', '19', 450000]

In [48]:
employee_2.remove('AI Eng')

In [49]:
employee_2

['Sanwal Khan', 19, 'Male', 'Sanwal', '19', 450000]

In [50]:
employee_1.index('Male')

2

In [51]:
salary = employee_1.pop(-1)

In [52]:
employee_1

['Amar', 19, 'Male']

In [57]:
salary

200000

In [58]:
employee_1=["Amar", 19, "Male", 350000]
employee_2=["Sanwal", 19, "Male ", 400000]

In [59]:
employees=[employee_1, employee_2, ["Khurram", 24, "Male" , 200000], ["Saad", 23, "Male", 300003]]

In [60]:
len(employees)

4

In [61]:
total_salary = employees[0][-1]+ employees[1][-1]+employees[-2][-1]+employees[-1][-1]

In [62]:
total_salary

1250003

 # For Loops

In [63]:
tot_salary=0
for item in employees:
    tot_salary += item[-1] #tot_salary = tot_salary + item[-1]

In [64]:
tot_salary

1250003

In [65]:
salary=[]
for i in employees:
    salary.append(i[-1])

In [66]:
salary

[350000, 400000, 200000, 300003]

In [71]:
salary_with_name =[]
for i in employees:
    salary_with_name.append(i[0], i[-1])

TypeError: append() takes exactly one argument (2 given)

In [72]:
employees

[['Amar', 19, 'Male', 350000],
 ['Sanwal', 19, 'Male ', 400000],
 ['Khurram', 24, 'Male', 200000],
 ['Saad', 23, 'Male', 300003]]