In [1]:
data = ['Amar', 'Male', 2000, 'AI']

In [2]:
newData = [['Amar', 'Male',19 ], ['Sanwal', ' Male', 20], ['Ali', 'Male', 18]]

In [4]:
for listItem in newData:
    print("*" * 80)
    print(newData)

********************************************************************************
[['Amar', 'Male', 19], ['Sanwal', ' Male', 20], ['Ali', 'Male', 18]]
********************************************************************************
[['Amar', 'Male', 19], ['Sanwal', ' Male', 20], ['Ali', 'Male', 18]]
********************************************************************************
[['Amar', 'Male', 19], ['Sanwal', ' Male', 20], ['Ali', 'Male', 18]]

In [21]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
myList = [1,2,3,5]

In [6]:
myList

[1, 2, 3, 5]

In [11]:
myList[0]=6

In [12]:
myList

[6, 2, 3, 5]

In [13]:
age = input()

19

In [14]:
print(age)

19

In [15]:
age = input("Enter your age: ")

Enter your age: 18

In [16]:
age

'18'

In [17]:
studentForm = []

In [22]:
x = input("How many values you want to enter?")
print(type(x))
x= int(x)
print (type(x))

for i in range(x):
    name = input("Enter your name: ")
    className = input("Enter class name: ")
    
    studentForm.append([name, className])

How many values you want to enter?3
<class 'str'>
<class 'int'>
Enter your name: Jojo
Enter class name: AI
Enter your name: Andrew
Enter class name: DL
Enter your name: Joan
Enter class name: ML

In [23]:
studentForm

[['Jojo', 'AI'], ['Andrew', 'DL'], ['Joan', 'ML']]

In [24]:
list(range(1, 20))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [26]:
list(range(1, 20, 3))  #list (range(a, b, stepsize))

[1, 4, 7, 10, 13, 16, 19]

# tuple
tuple is list on stone

In [27]:
tup = 1,2
type(tup)

tuple

In [28]:
t = (["Waqas" , "Faizan"], "9 to 12", "Batch 4")

In [29]:
t

(['Waqas', 'Faizan'], '9 to 12', 'Batch 4')

In [30]:
type(t)

tuple

In [31]:
t[0][0]= "Khurram"

In [32]:
t

(['Khurram', 'Faizan'], '9 to 12', 'Batch 4')