In [20]:
employee1 = ['Waqas', 27, ' Male ', 350000]

  Dictionary is a key value pair
  Dictionary is written in  curly barces `{}`

In [21]:
t= 1,

In [22]:
type(t)

tuple

In [23]:
employee = {"employee_Name":"Waqas","Age":27,"gender":"Male", "Salary":350000 }

In [24]:
type(employee)
print(type(employee))

<class 'dict'>

In [25]:
employee["employee_Name"] = "Muhammad Waqas"

In [26]:
print(employee)

{'employee_Name': 'Muhammad Waqas', 'Age': 27, 'gender': 'Male', 'Salary': 350000}

In [27]:
employee["Position"] = "AI Lead"

In [28]:
employee

{'employee_Name': 'Muhammad Waqas',
 'Age': 27,
 'gender': 'Male',
 'Salary': 350000,
 'Position': 'AI Lead'}

In [29]:
print(employee)

{'employee_Name': 'Muhammad Waqas', 'Age': 27, 'gender': 'Male', 'Salary': 350000, 'Position': 'AI Lead'}

In [35]:
for content in employee:
    print(content)

employee_Name
Age
gender
Salary
Position

In [36]:
for content in employee:
    print(content, employee[content])

employee_Name Muhammad Waqas
Age 27
gender Male
Salary 350000
Position AI Lead

In [37]:
for key in employee.keys():
    print(key)

employee_Name
Age
gender
Salary
Position

In [42]:
for value in employee.values():
    print(value)

Muhammad Waqas
27
Male
350000
AI Lead

In [47]:
for k, v in employee.items():
    print(k, v)

employee_Name Muhammad Waqas
Age 27
gender Male
Salary 350000
Position AI Lead

In [ ]:
 employee2 = {'employee_Name': 'Faizan',
 'Age': 22,
 'gender': 'Male',
 'Salary': 350000,
 'Position': 'AI Lead'}

In [48]:
employees = [{'employee_Name': 'Muhammad Waqas',
 'Age': 27,
 'gender': 'Male',
 'Salary': 350000,
 'Position': 'AI Lead'}]

In [56]:
employees.append(employee2)

NameError: name 'employee2' is not defined

In [59]:
tableValue = int(input("Enter value for table: "))
for i in range(1, 11):
    print(f"{tableValue} * {i} = {i* tableValue}")

Enter value for table: 8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80